{% extends 'web/web_base.html.twig' %}

{% block title %}Home page!{% endblock %}


{% block body %}

    {# put that style in this page that won't be conflict with another pages #}
    <link href="/front_end/carousel/carousel.css" rel="stylesheet" />


    <main>

        {% include 'web/home_page/_hero_block.html.twig' %}

        {% include 'web/home_page/_marketing_block_row.html.twig' %}

        {% include 'web/home_page/_themes_block.html.twig' %}

        {% include 'web/home_page/_marketing_block_featurette.html.twig' %}

        {% include 'web/home_page/_how_it_works_block.html.twig' %}

        {% include 'web/home_page/_cta_block.html.twig' %}

    </main>


{% endblock %}
