{% extends 'web/web_base.html.twig' %}

{% block title %}Услуги — Hanna Psycholog{% endblock %}

{% block body %}
<main class="pt-5">
    {% include 'web/services_page/_services_hero_block.html.twig' %}
    {% include 'web/services_page/_services_formats_block.html.twig' %}
    {% include 'web/services_page/_services_themes_block.html.twig' %}
    {% include 'web/services_page/_services_cta_block.html.twig' %}
</main>
{% endblock %}
