{% extends 'web/web_base.html.twig' %}

{% block title %}О нас — Hanna Psycholog{% endblock %}

{% block body %}

<main class="pt-5">
    {% include 'web/about_page/_about_hero_block.html.twig' %}

    {% include 'web/about_page/_about_mission_block.html.twig' %}

    {% include 'web/about_page/_about_values_block.html.twig' %}

    {% include 'web/about_page/_about_education_block.html.twig' %}

    {% include 'web/about_page/_about_reassurance_block.html.twig' %}
</main>

{% endblock %}
