{% extends 'web/web_base.html.twig' %}

{% block title %}Contact — Hanna Psycholog{% endblock %}

{% block body %}

<main class="pt-5">
    {% include 'web/contacts_page/_contact_hero_block.html.twig' %}

    {% include 'web/contacts_page/_contact_info_block.html.twig' %}

    {% include 'web/contacts_page/_contact_form_block.html.twig' %}

    {% include 'web/contacts_page/_contact_reassurance_block.html.twig' %}
</main>

{% endblock %}
