<nav class="navbar navbar-expand-lg" aria-label="Eighth navbar example">
    <div class="container">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> <div class="navbar-collapse collapse" id="navbarsExample07" style="">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_web') }}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_about') }}">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_contacts') }}">Contacts</a>
                </li>

                {#
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#">Action</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Another action</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </li>
                    </ul>
                </li>
                #}


            </ul>
            <div class="d-flex align-items-center gap-2">
                <span class="navbar-text small text-body-secondary d-none d-md-inline">Цвет темы</span>
                <input type="color" id="theme-color-picker" value="#7c3aed" title="Выберите цвет темы" class="theme-color-input">
                <button type="button" class="btn btn-sm btn-outline-secondary" id="theme-color-reset" title="Сбросить цвет">Сбросить</button>
            </div>
        </div>
    </div>
</nav>
