{% extends 'web/web_base.html.twig' %}

{% block title %}Стоимость — Hanna Psycholog{% endblock %}

{% block body %}

<main class="pt-5">
    {% include 'web/pricing_page/_pricing_hero_block.html.twig' %}
    {% include 'web/pricing_page/_pricing_rates_block.html.twig' %}
    {% include 'web/pricing_page/_pricing_rules_block.html.twig' %}
    {% include 'web/pricing_page/_pricing_cta_block.html.twig' %}
</main>

{% endblock %}
