{% extends 'web/web_base.html.twig' %}

{% block title %}Частые вопросы — Hanna Psycholog{% endblock %}

{% block body %}
<main class="pt-5">
    {% include 'web/faq_page/_faq_hero_block.html.twig' %}
    {% include 'web/faq_page/_faq_items_block.html.twig' %}
</main>
{% endblock %}
